body {
  font-family: Arial;
  padding: 20px;
}

button {
  padding: 10px;
  margin: 5px;
}

header {
  background: #222;
  padding: 15px;
  margin-bottom: 20px;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}