* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: rgb(28, 28, 28);
  color: rgb(255, 244, 223);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

body {
  min-height: 100vh;
  padding: 20px;
}

button {
  padding: 10px;
  margin: 5px;
}

header {
  padding: 15px;
  margin-bottom: 20px;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: rgb(255, 244, 223);
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
}

.cards {
  max-width: 900px;
  margin: 70px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  background: linear-gradient(200deg, #6d685d91, #2f2828);
  border: 1px solid #3f3b33;
  border-radius: 18px;
  padding: 22px;
  cursor: pointer;
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
  border-color: #666;
}

.card h2 {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 22px;
}

.card p {
  color: #b8b8b8;
  font-size: 14px;
}
