* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: rgb(28, 28, 28);
  color: rgb(255, 244, 223);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

body {
  min-height: 100vh;
  padding: 20px;
}

button {
  padding: 10px;
  margin: 5px;
}

header {
  padding: 15px;
  margin-bottom: 20px;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: rgb(255, 244, 223);
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
}

.fandom_buttons {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fun_button {
  padding: 24px;
}

